{% from "macros/fields.tmpl" import render_input_field, render_password_field,
                                    render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Cukrovinky{% endblock %}

{% block content %}
  <h3>Cukrovinky</h3>
  <form method="POST" id="register-form">
    {{ form.hidden_tag() }}
    {{ render_input_field(form.Druh) }}
    {{ render_input_field(form.Cena) }}
    {{ render_submit() }}
  </form>
{% endblock %}